body {
    margin: 0;
}

.container {
    background: #333;
    padding: 1rem;
    margin-top: 1rem;
}

.draggable {
    padding: 1rem;
    background: white;
    border: 1px solid black;
    cursor: move;
}

.draggable.dragging {
    opacity: 0.5;
}
